

// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg


// run a user script file if present
exec autoexec.cfg

//reload menu
wait 5; vgui_cache_res_files 0; showconsole; toggle mat_aaquality; vgui_cache_res_files 1; hideconsole

// Setup darhud cfg files
exec dar_scripts.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

sv_unlockedchapters 99

